@{
    ViewData["Title"] = "Información";
}

<h1>Sistema de registro de votos para procesos electorales sobre una base de datos distribuida (Blockchain).</h1>
<p>Las características de este sistema son:</p>
<ul>
    <li>Este sistema permite a los administradores registrar las votaciones y los votantes.</li>
    <li>Los votantes pueden iniciar sesión y votar en las votaciones registradas.</li>
    <li>Los votos se registran en la cadena de bloques.</li>
    <li>Los administradores pueden ver los resultados de las votaciones.</li>
</ul>
<p>Este sistema se desarrolló como proyecto de grado en la <strong>Universidad Manuela Beltrán</strong> por los estudiantes:</p>

<ul>
    <li>Daniel Castillo Aguirre</li>
    <li>Juan Carlos Sierra Rincón</li>
</ul>
